@import
"_fonts",
"_text-size";

// Heading XXLarge
@mixin heading-xxlarge {
  @include size--base-7;
  @include font--primary-bold;
  line-height: 0.8;
}

// Heading XLarge
@mixin heading-xlarge {
  @include size--base-6;
  @include font--primary-bold;
  line-height: 0.9;
}

// Heading Large
@mixin heading-large {
  @include size--base-3;
  @include font--primary-bold;
  line-height: 1.2;
}

// Heading Medium
@mixin heading-medium {
  @include size--base-2;
  @include font--primary-bold;
  line-height: 1.2;
}

// Heading Small
@mixin heading-small {
  @include size--base-2;
  @include font--primary-light;
  line-height: 1.2;
}

// Heading XSmall
@mixin heading-xsmall {
  @include size--base-1;
  @include font--primary-bold;
  line-height: 1.2;
}

// Heading XXSmall -- Serif
@mixin heading-xxsmall--serif {
  @include size--base-0;
  @include font--primary-bold;
  letter-spacing: 1px;
  line-height: 1.4;
  text-transform: uppercase;
}

// Heading XXSmall -- Sans
@mixin heading-xxsmall--sans {
  @include size--base-0;
  @include font--primary-light;
  letter-spacing: 1px;
  line-height: 1.4;
  text-transform: uppercase;
}

// Body Large
@mixin body-large {
  @include size--base-2;
  @include font--primary-light;
  line-height: 1.5;
}

// Body
@mixin body {
  @include size--base-1;
  @include font--secondary-regular;
  line-height: 1.5;
}

// Fine Print
@mixin fine-print {
  @include size--base-0;
  @include font--primary-light;
  line-height: 1.5;
}
