#nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	align-items: center;
	@include p-y-spacer-($spacer-lg);
	@include p-x-spacer-($spacer-lg);
	z-index: 9;
	opacity: 0;
	animation: showIntroFromUp 0.5s 0.8s linear forwards;
}