.product{
	@include m-x-spacer-($spacer-sm);
	@include p-x-spacer-($spacer-lg);
	width: 33%;
	min-width: 240px;
	background: $white;
	color: $c3;
	border-radius: 4px;

	h2{
		@include m-t-spacer-($spacer-lg);
		margin-bottom: 0;
		@include heading-small;
		min-height: 50px;
	}

	p{
		@include font--secondary-regular;
		font-size: 15px;
		color: #131E3E;
		letter-spacing: 0;
		line-height: 1.5em;
	}

}