
@font-face {
    font-family:"GTWalsheimLight";
    src:url("GT-Walsheim-Light.woff2") format("woff2"),url("GT-Walsheim-Light.woff") format("woff"),url("GT-Walsheim-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        