
@font-face {
    font-family:"GT Walsheim Bold";
    src:url("GT-Walsheim-Bold.woff2") format("woff2"),url("GT-Walsheim-Bold.woff") format("woff"),url("GT-Walsheim-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        