html, body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-size: 16px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-width: thin; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

abbr {
  text-decoration: none; }

figure {
  padding: 0;
  margin: 0; }

.hidden {
  display: none; }

svg.fill path {
  fill: inherit;
  stroke: inherit; }

svg.fill line {
  fill: none;
  stroke-linejoin: round;
  stroke-width: inherit;
  stroke: inherit; }

svg.fill polyline {
  stroke-dasharray: 0;
  stroke-dashoffset: 0; }

svg.fill circle {
  fill: none;
  stroke-linejoin: round;
  stroke-width: inherit;
  stroke: inherit; }

.about-illustration {
  position: relative;
  margin-top: 4.2ex;
  margin-bottom: 4.2ex; }

@media (min-width: 768px) {
    .about-illustration {
      margin-top: 6ex;
      margin-bottom: 6ex; } }

.about-illustration img {
    position: relative;
    z-index: 2; }

.about-illustration:before {
    position: absolute;
    content: '';
    right: 0;
    top: -10%;
    z-index: 1;
    width: 53%;
    height: 120%;
    background: #131E3E; }

.about-illustration figcaption {
    position: relative;
    z-index: 2;
    max-width: 460px;
    padding-top: 2.8ex;
    padding-bottom: 2.8ex;
    padding-left: 2.8ex;
    padding-right: 2.8ex; }

@media (min-width: 768px) {
      .about-illustration figcaption {
        padding-top: 4ex;
        padding-bottom: 4ex; } }

@media (min-width: 768px) {
      .about-illustration figcaption {
        padding-left: 4ex;
        padding-right: 4ex; } }

.about-illustration small, .about-illustration strong {
    display: block; }

.about-illustration small {
    color: #FF3F32; }

.about-illustration strong {
    color: #FFF;
    font-size: 4.6648ex; }

@media (min-width: 768px) {
      .about-illustration strong {
        font-size: 5.18687ex; } }

.container {
  margin: 0 auto;
  width: calc(100% - 20px);
  max-width: 1024px; }

.enfase {
  display: block;
  color: #FF3F32;
  text-align: center;
  font-size: 3.332ex;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 2.8ex; }

@media (min-width: 768px) {
    .enfase {
      font-size: 3.50464ex; } }

@media (min-width: 768px) {
    .enfase {
      margin-top: 4ex; } }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.space-around {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#about header, #contact header, #products-and-services header, #team header {
  color: #FFF; }

.learn-more {
  color: #FFF; }

.logo {
  display: block; }

.logo .ic-logo-trubr {
    width: 181px;
    height: 30px; }

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2.8ex;
  padding-bottom: 2.8ex;
  padding-left: 2.8ex;
  padding-right: 2.8ex; }

@media (min-width: 768px) {
    #nav {
      padding-top: 4ex;
      padding-bottom: 4ex; } }

@media (min-width: 768px) {
    #nav {
      padding-left: 4ex;
      padding-right: 4ex; } }

#nav ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

#nav ul a {
      padding: 2ex;
      color: #FFF; }

.product {
  margin-left: 0.7ex;
  margin-right: 0.7ex;
  padding-left: 2.8ex;
  padding-right: 2.8ex;
  width: 33%;
  min-width: 240px;
  background: #FFF;
  border-radius: 4px; }

@media (min-width: 768px) {
    .product {
      margin-left: 1ex;
      margin-right: 1ex; } }

@media (min-width: 768px) {
    .product {
      padding-left: 4ex;
      padding-right: 4ex; } }

.product h2 {
    font-size: 3.332ex;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    min-height: 60px; }

@media (min-width: 768px) {
      .product h2 {
        font-size: 3.50464ex; } }

.product P {
    font-size: 2.38ex;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5; }

@media (min-width: 768px) {
      .product P {
        font-size: 2.368ex; } }

.social-icons span {
  margin-right: 2ex;
  display: block;
  color: #FFF; }

.social-icons a {
  display: inline-block; }

#intro .social-icons svg {
  height: 20px;
  width: 20px;
  fill: #FFF; }

#intro .social-icons a {
  margin-left: 0.72ex; }

.team-member {
  margin-left: 0.7ex;
  margin-right: 0.7ex;
  width: 33%; }

@media (min-width: 768px) {
    .team-member {
      margin-left: 1ex;
      margin-right: 1ex; } }

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 5px; }

.team-member figcaption {
    margin-top: 2.8ex;
    text-align: center; }

@media (min-width: 768px) {
      .team-member figcaption {
        margin-top: 4ex; } }

.team-member h2, .team-member h3 {
    margin: 0; }

.team-member h2 {
    color: #FFF; }

.team-member h3 {
    color: #FF3F32; }

#about {
  padding-bottom: 6.3ex; }

@media (min-width: 768px) {
    #about {
      padding-bottom: 9ex; } }

#about .highlight {
    margin-left: 1.4ex;
    margin-right: 1.4ex;
    color: #FF3F32;
    line-height: .8em;
    font-size: 9.14301ex; }

@media (min-width: 768px) {
      #about .highlight {
        margin-left: 2ex;
        margin-right: 2ex; } }

@media (min-width: 768px) {
      #about .highlight {
        font-size: 11.36131ex; } }

#about header {
    background-image: url(../assets/img/banner-about.jpg); }

#about article .grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

#about article p {
    font-size: 2.38ex;
    font-family: "Athelas-Regular",sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4em; }

@media (min-width: 768px) {
      #about article p {
        font-size: 2.368ex; } }

#contact {
  padding-bottom: 6.3ex; }

@media (min-width: 768px) {
    #contact {
      padding-bottom: 9ex; } }

#contact header {
    background-image: url(../assets/img/banner-about.jpg); }

#contact strong {
    display: block;
    text-align: center;
    color: #FF3F32; }

#contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

#contact .social-icons {
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 6.3ex;
    margin-bottom: 6.3ex; }

@media (min-width: 768px) {
      #contact .social-icons {
        margin-top: 9ex;
        margin-bottom: 9ex; } }

#contact .social-icons svg {
      width: 50px;
      height: 50px; }

#contact .social-icons svg.ico-github {
        fill: #333333; }

#contact .social-icons svg.ico-linkedin {
        fill: #007BBE; }

#contact .social-icons a {
      margin-left: 0.7ex;
      margin-right: 0.7ex; }

@media (min-width: 768px) {
        #contact .social-icons a {
          margin-left: 1ex;
          margin-right: 1ex; } }

footer {
  padding-top: 1.4ex;
  padding-bottom: 1.4ex;
  background: #131E3E;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-weight: bold; }

@media (min-width: 768px) {
    footer {
      padding-top: 2ex;
      padding-bottom: 2ex; } }

#intro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 0 0 3vh;
  overflow: hidden;
  background-image: linear-gradient(-140deg, #25386D 0%, #1C2B56 39%, #131E3E 100%); }

#intro .container.in {
    margin: auto; }

#intro h1 {
    margin: 0;
    font-size: 13.82423ex;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    color: #FFF; }

@media (min-width: 768px) {
      #intro h1 {
        font-size: 19.5051ex; } }

#intro h2 {
    font-size: 4.6648ex;
    color: #FF3F32; }

@media (min-width: 768px) {
      #intro h2 {
        font-size: 5.18687ex; } }

#intro .social-and-more {
    padding-top: 2.8ex;
    padding-bottom: 2.8ex;
    padding-left: 2.8ex;
    padding-right: 2.8ex; }

@media (min-width: 768px) {
      #intro .social-and-more {
        padding-top: 4ex;
        padding-bottom: 4ex; } }

@media (min-width: 768px) {
      #intro .social-and-more {
        padding-left: 4ex;
        padding-right: 4ex; } }

#products-and-services {
  padding-bottom: 6.3ex;
  background: #131E3E; }

@media (min-width: 768px) {
    #products-and-services {
      padding-bottom: 9ex; } }

#products-and-services header {
    background-image: url(../assets/img/banner-about.jpg); }

#products-and-services #products {
    margin-top: 6.3ex; }

@media (min-width: 768px) {
      #products-and-services #products {
        margin-top: 9ex; } }

.section-header {
  position: relative;
  margin-bottom: 6.3ex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131E3E;
  background-position: center;
  background-size: cover;
  max-height: 320px; }

@media (min-width: 768px) {
    .section-header {
      margin-bottom: 9ex; } }

.section-header .header-bg {
    z-index: 1; }

.section-header h1 {
    margin: 0;
    z-index: 2;
    max-width: 640px;
    margin-top: 1.4ex;
    margin-bottom: 1.4ex;
    font-size: 12.80021ex;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 0.9; }

@media (min-width: 768px) {
      .section-header h1 {
        margin-top: 2ex;
        margin-bottom: 2ex; } }

@media (min-width: 768px) {
      .section-header h1 {
        font-size: 16.81474ex; } }

#team {
  padding-bottom: 6.3ex;
  background: #131E3E; }

@media (min-width: 768px) {
    #team {
      padding-bottom: 9ex; } }

#team header {
    background-image: url(../assets/img/banner-about.jpg); }

/*# sourceMappingURL=style.css.map*/