html, body{
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}


*{
  box-sizing: border-box;
  outline-width: thin;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}


abbr{
  text-decoration: none;
}

figure{
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

svg.fill{
  
  path {
    fill: inherit;
    stroke: inherit;
  }

  line {
    fill: none;
    stroke-linejoin: round;
    stroke-width: inherit;
    stroke: inherit;
  }

  polyline {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }

  circle {
    fill: none;
    stroke-linejoin: round;
    stroke-width: inherit;
    stroke: inherit;
  }

}

i{
  font-style: italic;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showIntro {
  0% {
    opacity: 0;
    transform: translate3d(0, 40%, 0);
  }
  35% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes showIntroFromUp {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  35% {
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}