#about{
	@include p-b-spacer-($spacer-2xl);

	.highlight{
		margin: 0 $spacer-md;
		color: $c7;
		line-height: .8em;
		@include size--base-5;
	}

	article{

		.grid{
			justify-content: center;
			align-items: center;
		}

		p{
			@include size--base-1;
			@include font--secondary-medium;
			line-height: 1.4em;
		}
	}

}