#about{
	@include p-b-spacer-($spacer-2xl);
	background: $c9;

	.highlight{
		@include m-x-spacer-($spacer-md);
		color: $c7;
		line-height: .8em;
		@include heading-xlarge;
		@include size--base-5;
	}

	header{
		@extend %whiteTitle;
		//background-image: url(../assets/img/banner-team.jpg);
		background-image: url(../assets/img/banner-about.jpg);
	}

	article{

		.grid{
			justify-content: center;
			align-items: center;
		}

		p{
			@include size--base-1;
			@include font--secondary-regular;
			line-height: 1.5em;
			color: $c4;
		}
	}

	@include responsive(769px, 'max') {

		.highlight {
			@include m-x-spacer-($spacer-none);
			margin-bottom: 30px;
			font-size: 14vw;
		}


		article > .grid:first-child{
			margin: 0 auto;
			display: block;
			max-width: 600px;
			@include m-b-spacer-($spacer-lg);

		}

	}

}