#contact{
	@include p-b-spacer-($spacer-2xl);

	header{
		@extend %whiteTitle;
		background-image: url(../assets/img/banner-about.jpg);
	}

	strong{
		@include heading-xsmall;
		display: block;
		text-align: center;
		color: $c7;
	}

	.container{
		display: flex;
		flex-direction: column;
	}

	.social-icons{
		align-self: center;
		@include m-y-spacer-($spacer-2xl);

		svg{
			width: 50px;
			height: 50px;

			&.ico-github{
				fill: #333333;
			}

			&.ico-linkedin{
				fill: #007BBE;
			}

		}

		a{
			@include m-x-spacer-($spacer-sm);
		}
	}

}