#intro {
    flex-direction: column;
    height: 100vh;
    min-height: 540px;
    padding: 0 0 3vh;
    overflow: hidden;
    background-image: linear-gradient(-140deg,$c6 0%, $c2 39%, $c3 100%);

    .container{

        &.in{
            margin: auto;
        }

    }
    h1{
        margin: 0;
        @include m-b-spacer-($spacer-2xs);
        color: $white;
        animation: opacity 0.5s 0.2s cubic-bezier(.165, .84, .44, 1) forwards;

        @include responsive(980px, 'min') {
            @include heading-xxlarge;
        }
        
        @include responsive(980px, 'max') {
            @include heading-xlarge;
        }

        @include responsive(768px, 'max') {
            font-size: 14vw
        }

    }
    
    h2{
        @include m-y-spacer-($spacer-none);
        color: $c7;

        &:not(.scrolling){
            animation: showIntro 0.6s .6s cubic-bezier(.19, 1, .22, 1) forwards;
        }

        &.scrolling{
            opacity: 1;
        }

        @include responsive(768px, 'min') {
            @include heading-large;
        }

        @include responsive(768px, 'max') {
            @include heading-medium
        }


    }
    

    h1, h2{
        opacity: 0;

        .letter {
            display: inline-block;
            transform: translateY(100px);
            opacity: 0;
        }

    }
    

    .social-and-more{
        @include heading-xsmall;
        @include p-y-spacer-($spacer-md);
        @include p-x-spacer-($spacer-lg);
        opacity: 0;
        animation: showIntro 0.8s 1s $transition forwards;
    }

}
