#products-and-services {
	@include p-b-spacer-($spacer-2xl);
	background: $c3;
	
	header{
		@extend %whiteTitle;
		background-image: url(../assets/img/banner-about.jpg);
	}

	#products{
		@include m-t-spacer-($spacer-2xl);	
	}

	@include responsive(540px, 'max') {
		.grid {
			flex-wrap: wrap;
		}
		.product {
			@include m-b-spacer-($spacer-lg);
			width: 100%;
		}
	}



}