%h1Center{

	h1 {
		margin: 0;
		width: 100%;
		max-width: 100%;
		color: $c4;
		line-height: 0.75em;
	}

}


%navigation{

	nav{
		position: relative;
		@include p-x-spacer-($spacer-lg);
		height: 40px;
		margin-bottom: 25px;
	}

	.swiper-button-prev,
	.swiper-button-next{
		height: 50px;
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $c2;
		font-size: 32px;
		color: #fff;
		@include font--primary-light;
	}

}


%containerBg{
	position: relative;
	margin-top: 50px;

	.container.bg{
		position: absolute;
		left: 50%;
		margin-top: -20px;
		transform: translateX(-50%);
		height: 415px;
		background: #25386D;
	}
}

#read-more {
	@include p-y-spacer-($spacer-2xl);
	background: #F8FBFE;

	.swiper-container {
		opacity: 1;
		transition: opacity 0.4s $transition;
	}

	&:not(.active) {
		.swiper-container {
			opacity: 0;
		}
	}


	.medium-wrp{
		@extend %containerBg;
		margin-left: auto;
		margin-right: auto;
		max-width: 1480px;
		min-height: 350px;
		@include p-x-spacer-($spacer-lg);
	}

	.section-header {
		text-align: left;
		@extend %h1Center;
	}

	.swiper-container{
		padding-bottom: 20px;
	}
	
	.medium-post{
		position: relative;
		max-height: 280px;
		@include p-t-spacer-($spacer-lg);
		@include p-b-spacer-($spacer-xl);
		@include p-x-spacer-($spacer-lg);
		overflow: hidden;

		&:after,
		&:before{
			position: absolute;
			content: '';
			border-radius: 5px;
		}
	
		&:after{
			left: 5px;
			top: 5px;
			height: calc(100% - 10px);
			width : calc(100% - 10px);
			background: $white;
		}

		&:before {
			left: 5px;
			top: 5px;
			height: calc(100% - 10px);
			width: calc(100% - 10px);
			box-shadow: 0 2px 4px rgba(13, 17, 31, 0.2);
		}

		h1, p{
			position: relative;
			z-index: 1;
		}

		h1{

			margin: 0 0 10px;
			font-size: 20px;
			color: #131E3E;
			letter-spacing: 0;
			@include heading-small;

		}

		p{
			@include font--secondary-regular;
			font-size: 15px;
			color: #131E3E;
			letter-spacing: 0;
			line-height: 1.1em;
		}

		span{
			position: absolute;
			z-index: 1;
			bottom: 25px;
			@include font--primary-bold;
			font-size: 10px;
			color: #3E578A;
			letter-spacing: 0;
			line-height: 10px;
		}

	}

	@extend %navigation;

	.swiper-button-prev{
		left: 20px;
	}
	.swiper-button-next {
		left: 75px;
	}

}