%h1Center{
	h1 {
		margin: 0;
		width: 100%;
		max-width: 100%;
		color: $c4;
		line-height: 0.75em;
	}
}


#read-more {
	@include m-y-spacer-($spacer-2xl);

	.section-header {
		text-align: left;

		@extend %h1Center;

	}

}