.section-header{
	position: relative;
	@include m-b-spacer-($spacer-2xl);
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	background-size:cover;
	background-repeat: no-repeat;
	max-height: 320px;

	&:not(.white){
		background-color: $c3;
	}

	.header-bg{
		z-index: 1;
	}

	h1{
		margin: 0;
		z-index: 2;
		max-width: 640px;

		will-change: transform;
		transition: opacity 0.3s $transition;

		@include m-y-spacer-($spacer-md);
		@include heading-xlarge;

		@include responsive(768px, 'max') {
			font-size: 14vw;
			text-align: center;
		}
	}
	
}