#team{
	@include p-b-spacer-($spacer-2xl);
	background: $c3;

	header {
		@extend %whiteTitle;
		background-image: url(../assets/img/banner-about.jpg);
	}


	@include responsive(540px, 'max') {
		.grid{
			flex-wrap: wrap;
		}

		.team-member{
			@include m-b-spacer-($spacer-lg);
			width: 100%;
		}
	}

}